*  { 
    font-family: 'Times New Roman', Times, serif;
}

h3,
p,
li {
    color: hsl(315, 88%, 39%);
}

body {
    background-color:hsl(60, 100%, 50%);
}

button {
    background-color: hsl(315, 100%, 55%);
    font-size: 24px;
    color: hsl(60, 100%, 50%);
    display: block;
    margin: 8px auto;
}

h1 {
    font-size: 48px;
    color: hsl(315, 100%, 55%);
    text-align: center;
}

a {
    text-decoration: none;
}

.title-img {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
}

.img-recipe {
    width: auto;
    height: 500px;
    display: block;    
    margin: auto;
}

